@model IEnumerable<WebApplicationCompareImages.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h1>Images</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Points
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimesSelected)
            </td>
            <td>
                @if (item.ImageData != null && item.ImageData.Length > 0)
                {
                    var base64 = Convert.ToBase64String(item.ImageData);
                    var imageSrc = $"data:image/png;base64,{base64}";
                    <img src="@imageSrc" alt="Image" height="100" />
                }
                else
                {
                    <span>No image</span>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
